<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previous Trees</title>
</head>
<body>
<h2>Previous Trees</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tree Nodes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tree : ${trees}">
        <td th:text="${tree.id}"></td>
        <td>
            <ul th:each="node : ${tree.nodes}">
                <li th:text="${node.value}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/enter-numbers}">Back to Enter Numbers</a>
</body>
</html>
